*       @seymen @danistrebel

/references/cicd-pipeline             @danistrebel
/references/cicd-sharedflow-pipeline  @ssvaidyanathan
/references/cloud-logging-shared-flow @danistrebel
/references/gcp-sa-auth-shared-flow   @danistrebel
/references/identity-facade           @joelgauci
/references/js-callout                @seymen
/references/oidc-mock                 @joelgauci
/references/kvm-admin-api             @danistrebel
/references/southbound-mtls           @danistrebel
/references/threat-protect            @joelgauci
/labs/best-practices-hackathon        @sauliuz @seymen
/labs/oas-apigee-mock                 @markjkelly
/tools/pipeline-runner                @seymen @danistrebel
/tools/pipeline-linter                @seymen @danistrebel
/tools/apigee-sackmesser              @danistrebel
/tools/hybrid-quickstart              @danistrebel
/tools/decrypt-hybrid-assets          @yuriylesyuk
/tools/apigee-x-trial-provision       @yuriylesyuk @danistrebel
/tools/oas-apigee-mock                @markjkelly

# looking for new owners
/references/apigee-sandbox-v1         @laughingbiscuit
/references/apimocker-hostedtargets   @laughingbiscuit
/references/common-shared-flows       @laughingbiscuit
/references/dutch-healthcare          @laughingbiscuit
/references/java-callout              @laughingbiscuit
/references/proxy-template            @laughingbiscuit
/tools/organization-cleanup           @laughingbiscuit
/tools/another-apigee-client          @laughingbiscuit
/tools/oas-to-am                      @laughingbiscuit
/tools/apigee-openlegacy              @laughingbiscuit @tomfi @joelgauci
