*       @seymen @danistrebel @OmidTahouri

/references/cicd-pipeline               @danistrebel
/references/cicd-sharedflow-pipeline    @ssvaidyanathan
/references/cloud-logging-shared-flow   @danistrebel
/references/common-shared-flows         @seymen @danistrebel @OmidTahouri
/references/data-converters-shared-flow @tyayers
/references/dutch-healthcare            @seymen
/references/gcp-sa-auth-shared-flow     @danistrebel
/references/identity-facade             @joelgauci
/references/java-callout                @OmidTahouri
/references/js-callout                  @seymen
/references/kvm-admin-api               @danistrebel
/references/oidc-mock                   @joelgauci
/references/proxy-template              @seymen @danistrebel @OmidTahouri
/references/southbound-mtls             @danistrebel
/references/threat-protect              @joelgauci
/labs/best-practices-hackathon          @sauliuz @seymen
/labs/bdd-proxy-development             @markjkelly
/tools/apigee-openlegacy                @tomfi @joelgauci
/tools/apigee-sackmesser                @danistrebel
/tools/apigee-x-trial-provision         @yuriylesyuk @danistrebel
/tools/decrypt-hybrid-assets            @yuriylesyuk
/tools/hybrid-quickstart                @danistrebel
/tools/oas-apigee-mock                  @markjkelly
/tools/pipeline-linter                  @seymen @danistrebel
/tools/pipeline-runner                  @seymen @danistrebel
