<?xml version="1.0"?>

<ruleset name="Drupal modules coding standards">
  <exclude-pattern>*/.git/*</exclude-pattern>
  <exclude-pattern>*/config/*</exclude-pattern>
  <exclude-pattern>*/css/*</exclude-pattern>
  <exclude-pattern>*/js/*</exclude-pattern>
  <exclude-pattern>*/vendor/*</exclude-pattern>
  <exclude-pattern>\.md</exclude-pattern>

  <rule ref="Drupal"/>

  <!-- Copyright header must be visible on all PHP files, including classes in a namespace. -->
  <rule ref="Drupal.Commenting.FileComment.NamespaceNoFileDoc">
    <severity>0</severity>
  </rule>
  <!-- Annotation classes still contains snake case variable names. -->
  <rule ref="Drupal.NamingConventions.ValidVariableName.LowerCamelName">
    <severity>0</severity>
  </rule>
  <!-- Ignore long array declaration lines. -->
  <rule ref="Drupal.Arrays.Array.LongLineDeclaration">
    <severity>0</severity>
  </rule>

</ruleset>